@import url('https://fonts.googleapis.com/css?family=Carter+One|Open+Sans:300,400,700');

// Fonts
$font-primary: Open Sans, sans-serif;
$font-secondary: Carter One, cursive;

// Widths
$sm-width: 576px;
$md-width: 768px;
$lg-width: 992px;
$xl-width: 1200px;

// Colors
$color-text-primary: #000000; 
$color-text-secondary: #ff006c;