.header
{
    display: flex;
    align-items: center;
    flex-direction: column;
    background: transparent;
}

.header .container 
{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 15px;
    padding-bottom: 15px;
}

.header a
{
    padding: 15px;
    text-transform: none;
    font-size: 17px;
}

.header a.active
{
    color: $color-text-secondary;
}

.header .nav 
{
    justify-content: flex-start;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    margin: 0 auto;
    padding: 15px 0 0;
}

.header .social 
{
    display: flex;
    justify-content: space-between;
    padding: 15px 0;
}

.header .social a
{
    font-size: 24px;
}

@media(min-width: $md-width)
{
     .header .container,
    .header { flex-direction: row; }
    .header .nav 
    {
        margin-left: 30px;
        padding: 0;
    }
    .header .social 
    {
        padding: 0;
    }
}
