h1
{
    font-size: 35px;
}

h2
{
    font-size: 25px;
}

h3
{
    font-size: 21px;
}

h1,h2,h3,h4
{
    line-height: 1.1;
}

@media(min-width: $sm-width)
{
    h1
    {
        font-size: 65px;
    }

    h2
    {
        font-size: 45px;
    }

    h3
    {
        font-size: 25px;
    }
}